<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Sorts a random list of numbers</h1>
<div style="padding-left:96px;width:100%;overflow:hidden;">
    <form id="form" method="post">
        <div class="row">
            <p><input class="searchBar" size="30" type="number" name="numList" placeholder="type a number"></p>
            <p style="text-align:center;margin-left:15px;"><input class="searchBtn" type="submit" value="sort numbers"></p>
        </div>
    </form>
</div>

<h1>Sorts a list of words, separated by commas</h1>
<div class="row">
    <form action = "/people/Kian/bubblesort" method="POST">
        <input type="text" name="wordslist">
        <button>sort words (separate with commas)</button>
    </form>
</div>

</body>
</html>