<!DOCTYPE html>
{% extends "layout.html" %}


{% block content %}
<style>
table, th, td {border: 1px solid black; padding: 5px; border-spacing:30px;background-color: turquoise}
body {background: linear-gradient(to bottom left, #00ffff 0%, #ffcc00 81%)}
</style>
<div class="center-block" style="margin: 2% 10% 10%;">
    <div class="col-12" style="text-align: center;">
        <h1><strong>Guess the artist!</strong></h1>
    </div>
    <br>
    <td style="font-size:30px" >
        You were {{correct}} last round!
        <br>
        <br>A certain musical artist or group of musical artists sang the song "{{song}}", which is of the {{genre}} genre.
        <br>Who was the artist?
    </td>
    <form id="artistquiz" action="/quiz/artist" method="POST" >
        <input type="text" name="artistguess" id="artistguess" required>
        <input type="hidden" name="artistcorrect" id = "artistcorrect" value={{artist}} />
        <button>Go!</button>
    </form>

    </tr>
</div>
{% endblock %}
