<!DOCTYPE html>
<html lang="en"> dir="ltr">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="contact" class="container-fluid bg-grey">

    <form action="/email" method = "post">

        <div class="container">
            <h2>Subscribe</h2>
            <p>Subscribe for the latest Covid-19 news in your state!</p>
        </div>

        <input type="text" placeholder="Email address" name="email" required>
        <input type="submit" value="Subscribe">

        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


    </form>
</div>
</div>
</body>
</html>