<!DOCTYPE html>
{% extends "layout.html" %}


{% block content %}
<div class="center-block" style="margin: 2% 10% 10%;">
    <div class="col-12" style="text-align: center;">
        <h1><strong>Music Project</strong></h1>
    </div>

    <div class="jumbotron text-left row">
        <div class="col-md-9">
            <h3><strong>What is Music Project?</strong> Application to compare what's trending in music.
            It will be similar to the itunes charts where songs are ranked.
                We will pull this data using multiple APIs to update rankings live.</h3>
        </div>
    </div>
</div>
<h2>Comparison Tables</h2>
<p>top songs from each platform:</p>

<div class="row">
    <div class="column">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Points</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Adam</td>
                <td>Johnson</td>
                <td>67</td>
            </tr>
        </table>
    </div>
    <div class="column">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Points</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Adam</td>
                <td>Johnson</td>
                <td>67</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
