<!DOCTYPE html>
{% extends "layout.html" %}


{% block content %}
<style>
table, th, td {border: 1px solid black; padding: 5px; border-spacing:30px;}
body {background: linear-gradient(to bottom left, #00ffff 0%, #ffcc00 81%)}
</style>
<div class="center-block" style="margin: 2% 10% 10%;">
    <div class="col-12" style="text-align: center;">
        <h1><strong>Music Project</strong></h1>
    </div>

    <div class="jumbotron text-left row">
        <div class="col-md-9">
            <h3><strong>What is Music Project?</strong> Application to compare what's trending in music.
            It will be similar to the itunes charts where songs are ranked.
                We will pull this data using multiple APIs to update rankings live.</h3>
        </div>
    </div>
</div>
<h2 style="text-align:center">Comparison Tables</h2>
<p style="text-align:center">top songs from each platform:</p>

<div class="center">
        <table class="center-block" style="margin: 0% 25% 25%;">
            <tr>
                <th>Spotify</th>
                <th>Soundcloud</th>
                <th>iTunes</th>
                <th>Youtube Music</th>
                <th>Google Music</th>
            </tr>
            <tr>
                <td>{{top_music[0][0]}}</td>
                <td>{{top_music[1][0]}}</td>
                <td>{{top_music[2][0]}}</td>
                <td>{{top_music[3][0]}}</td>
                <td>{{top_music[4][0]}}</td>
            </tr>
            <tr>
                <td>{{top_music[0][1]}}</td>
                <td>{{top_music[1][1]}}</td>
                <td>{{top_music[2][1]}}</td>
                <td>{{top_music[3][1]}}</td>
                <td>{{top_music[4][1]}}</td>
            </tr>
            <tr>
                <td>{{top_music[0][2]}}</td>
                <td>{{top_music[1][2]}}</td>
                <td>{{top_music[2][2]}}</td>
                <td>{{top_music[3][2]}}</td>
                <td>{{top_music[4][2]}}</td>
            </tr>
        </table>
</div>
{% endblock %}
